<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - IoT Smart Farming</title>
    {% include './includes/header.html' %}
</head>

<body>
    {% include './includes/navbar.html' %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading" style="padding-top: 40px;">
                    <h2>Contact Us</h2>
                    <div class="card">
                        <div class="card-body" style="padding: 10%;">
                            <h2>Salonika Systems Sdn. Bhd.</h2>
                            <p class="card-text">Alamat Syarikat</p>
                            <p class="card-text">No. Telefon</p>
                            <p class="card-text">Emel</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="padding-top: 0px;">
        <div class="footer-copyright" style="margin-top: 0px;">
            <p>© 2021 IoT Smart Farming</p>
        </div>
    </footer>
    {% include './includes/footer.html' %}
</body>

</html>