<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Crop Disease - IoT Smart Farming</title>
    {% include './includes/header.html' %}
</head>

<body>
    {% include './includes/navbar.html' %}
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading" style="padding-top: 40px;">
                    <h2>Crop Disease</h2>
                </div>
                <div class="block-content">
                    <div class="clean-blog-post">
                        <iframe src ="http://192.168.250.45/" height="700" width="400"></iframe>
                        <div class="row">
                            <div class="col-xxl-6"><!--video autoplay width="500"></video-->
                                </div>
                            <div class="col-xxl-6 offset-xxl-0">
                                <h3>Lorem Ipsum dolor sit amet</h3>
                                <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                                <div class="d-grid"><a class="btn btn-secondary btn-sm" role="button" href="/result">Capture</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="padding-top: 0px;">
        <div class="footer-copyright" style="margin-top: 0px;">
            <p>© 2021 IoT Smart Farming</p>
        </div>
    </footer>
    {% include './includes/footer.html' %}
    <script>
        const constraints = {
          video: true,
        };
        
        const video = document.querySelector("video");
        
        navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
          video.srcObject = stream;
        });
        </script>
</body>

</html>