<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - IoT Smart Farming</title>
    {% include './includes/header.html' %}
</head>

<body>
    {% include './includes/navbar.html' %}
    <main class="page landing-page">
        <section class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start justify-content-xxl-start clean-block clean-hero" 
        style="background: url(static/img/environmental-conservation-plant-sustainability.jpg) center / cover no-repeat;color: rgba(47,47,47,0.5);">
            <div class="text-start text" style="padding: 37px;">
                <h2>Plant Disease Detection</h2>
                <p>More Cautious, More Plant Growth Well</p><a class="btn btn-light border rounded-pill" role="button" href="about-us.html">Learn More</a>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>IoT Smart Farming focused on plant disease detection with combines features to make more productivity.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4 offset-lg-0 feature-box"><i class="icon-camera icon"></i>
                        <h4>Crop Image</h4>
                        <p>Crop the plant or leaves from camera module</p>
                    </div>
                    <div class="col-md-5 col-lg-4 feature-box"><i class="icon-list icon"></i>
                        <h4>Results</h4>
                        <p>Type of disease plant with prevent information to make sure plant growth well</p>
                    </div>
                    <div class="col-md-5 col-lg-4 offset-lg-0 feature-box"><i class="icon-bubble icon"></i>
                        <h4>Live Chat</h4>
                        <p>Ask on expert farmers to learn more about plant disease</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2021 IoT Smart Farming</p>
        </div>
    </footer>
        {% include './includes/footer.html' %}
</body>

</html>